/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #eef2f3;
  padding: 20px;
}

h1 {
  color: darkgreen;
  text-align: center;
}

nav {
  text-align: center;
  margin: 20px 0;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
#galleryDisplay img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}
